<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="keywords" content="pokémon, pokemon, quizz, quiz, pokéquizz, pokequizz, pokequiz, pokéquizz">
		<meta name="description" content="Découvrez l'univers Pokémon avec Pokéquizz ! Testez vos connaissances en devinant le nom des Pokémon pour grimper dans le classement. Jouez maintenant !">
		<meta name="author" content="Martin">
		<title>
			{% block title %}PokéQuizz
			{% endblock %}
		</title>
		<link rel="icon" type="image/png" href="{{ asset('/build/images/icon.png') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>
