{% extends 'base.html.twig' %}
{% block title %}Erreur 500 - Erreur interne du serveur
{% endblock %}
{% block body %}
	<section class="sectionERREUR">
		<div class="containerERREUR">
			<h1>ERREUR</h1>
			<img src="{{ asset('/build/images/500.png') }}" alt="image erreur">
			<p>Une erreur interne du serveur s'est produite.</p>
			<a href="{{ path('accueil') }}">Page d'accueil</a>
		</div>
	</section>
{% endblock %}
