{% extends 'base.html.twig' %}
{% block title %}Erreur 401 - Non autorisé
{% endblock %}
{% block body %}
	<section class="sectionERREUR">
		<div class="containerERREUR">
			<h1>ERREUR</h1>
			<img src="{{ asset('/build/images/401.png') }}" alt="image erreur">
			<p>Vous n'êtes pas autorisé à accéder à cette page.</p>

			<a href="{{ path('accueil') }}">Page d'accueil</a>
		</div>
	</section>
{% endblock %}
